<div class="content-horizontal">
  <div class="text">
    <h1>Die Ästhethik der Melancholie</h1>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        In
seiner <b>Kindheit</b> wollte er „Comiczeichner“ werden, da dies
für ihn als Kind einer <b>erzgebirgischen Arbeiterfamilie</b> der
einzige greifbare Beruf mit künstlerischem Inhalt war. Zum <b>Abitur</b>
in Chemnitz, was für das Dorfkind schon nach dem Duft der weiten
Welt roch, begann eine <b>umfängliche Auseinandersetzung mit
künstlerischen Ausdrucksformen</b>. Über 10 Jahre geschah dies fast
ausschließlich im Format der Postkarte. <b>Mailart</b>. Der
Schnittpunkt zwischen Brieffreundschaften und dem Design eigener
Motive.</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        Nach
einer <b>Zeit im Ausland</b> und dem Studium an der Evangelischen
Hochschule Dresden änderten sich die Formate. Jedoch die
kleinteilige Struktur der Arbeiten blieb. Becher erarbeitete
verschiedene Techniken und Formensprachen und bildete immer wieder
aufs neue unkonventionelle Komglomerate zwischen ihnen. 
</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
          <b>Die
Not zur Tugend</b> erheben war geraume Zeit Grundfeste seines
Arbeitens, da es ihm unmöglich schien aus dem Leben gehoben –
steril – klinisch rein – randhaltend und fleckenlos zu arbeiten.
So entwickelte sich <b>ein natürlich-organischer Stil</b>. 
</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        Diese
organische Struktur zeichnet Bechers Arbeiten zum einen aus, da viele
Bilder <b>den zweidimensionalen Raum verlassen</b> und visiohaptisch
erfahrbar werden. Zum Anderen ist es die Wahl der Malmittel. Das
Arbeiten an den Leinwänden ähnelt vielmals einem experimentellen
Verstehensprozess chemischer und alltäglicher Produkte. 
</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        Neben
verschiedensten Farbstoffen kommen <b>Chemikalien, Vodka, Rotwein,
Kaffee, Zeitungen und technische Zeichnungen</b> zu Wort und lassen
eben jene organischen, vertraut wirkenden Formen und Strukturen
wachsen. Die <b>scheinbare Vertrautheit </b>kommt nicht allein durch
die visuell verstehbare Ästhetik zum tragen, sondern sie entsteht
weil man von den Bildern auf eine Reise mitgenommen wird. <b>Eine
Reise in die Schichten der Zeit</b>. Die eigene Vergangenheit und zu
einem <b>mesoperspektivischen Betrachten</b> des Hier und Jetzt und
des Ichs. 
</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        Diese
„<b>Ästhetik der Melancholie</b>“, wie Becher seine zentrale
Motivik selbst umschreibt, hüllt die Bilder in ein nahbares Gewand,
weil sich Kategorien der Bewertung auflösen und man sich in den
Strukturen verlieren kann.
</p>
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
        Kein
Duktus, keine geübte Hand, kein Zeichen menschgemachter Einwirkung
soll auf den ersten Blick erkennbar sein. Eine Formensprache die den
Anschein erweckt von selbst zu entstehen und zu wachsen. Eine
Formensprache die gerade durch ihre Inkonsequenz den schmalen Grad
zwischen maschinell geplant / gefertigtem und zufällig entstandenem
zu gehen vermag. Eine Formensprache die einläd zum Dialog. <b>Einem
Dialog mit sich selbst</b>.
<p align="left" style="margin-bottom: 0cm; font-weight: normal; line-height: 150%">
<br/>

</p>
  </div>
  <div class="spacer">
  </div>

    <div class="image">
      <div class="text">
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <img style="" width="100%" src="passfoto.jpeg"></img>
    </div>
</div>

<div class="content-vertical">
  <div class="mega-size-top">BIO</div>
  <div></div>
  <div class="mega-size-bottom">GRAPHIE</div>
</div>
