<html manifest="/cache.mf" lang="en">
	<head>
	<meta charset="UTF-8" />
	<title>Alabaster Becher</title>
	<!-- Simple reset to delete the margins -->
	<style>

body { font-family:monospace ; font-weight: bold; background-size: cover;  background-image: url("background.jpg"); position:relative; margin: 0; color:white}

	canvas { width: 100%; height: 100%; position:absolute; top:0; left:0; z-index:-1;}

  div#menu span {
    display: table-cell;
    text-align:center;;
  }

  .fill {overflow:hidden}

  #menu {
    z-index:10;
    position:fixed;
    top:0px;
    margin:auto;
    width: 100%;
    display:table;
    table-layout: fixed;
    font-size:25pt;
  }
  
  .selected {
    font-weight: bold;
    font-size:30pt;
  }

  a { color: inherit;
	text-decoration: none;
    }

  .gallery_entry {
//    height: 300px;
  }

  .text {
    text-align: justify;
    line-height:1.4;
    color:white;
    font-weight: bold;
    }

  .text p {
    color:white;
    font-weight: bold;
    display:inline;
    //background-color: #dddddd;

    }

  .text div * {
    color:white;
  	  
    //background-color: #dddddd;

    }
.text p {
}
  .image {
    width:90%;
    text-align: center;
    }

  .content-horizontal {
    display:flex;
  }

  .content-vertical {
    display:flex;
    flex-direction: column;
    width:33%;
    height:100%;
    margin-left:33%;
    margin-right:33%;
    position:fixed;
    top: 0px;
    left: 0px;
  }

  .content-horizontal > div {
    margin-top:50px;
    width: 33%;

  }
  .content-vertical > div {
    margin-top:100px;
    text-align: center;
    height: 30%;


  }

  .mega-size-top {
    font-size:60pt;

  }
  .mega-size-bottom {
    font-size:60pt;

  }

  .content {
    width:95%;
    margin: auto;
  }

  canvas {
    position: fixed;
  }

	</style>
	<script src="three.js"></script>
	  <script src="/jquery.js" type="text/javascript" ></script>
	 <link rel="stylesheet" href="jquery-ui.min.css">
	  <script src="/jquery-ui.min.js" type="text/javascript" ></script>
	 <link rel="stylesheet" href="lightgallery.js/dist/css/lightgallery.css">
    <script src="lightgallery.js/dist/js/lightgallery.min.js"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/css/lightgallery.css" />

<!--script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/js/lightgallery.js"></script-->
	</head>
	<body>
    <div id="menu">
      <span class="menu-entry" id="1"><a href="/bio" >Bio</a></span>
      <span  class="menu-entry"id="2"><a href="/gallery">Galerie</a></span>
      <span class="menu-entry" id="3"><a href="/exib">Vergangen</a></span>
      <span class="menu-entry" id="4"><a href="/new">Aktuell</a></span>
      <span class="menu-entry" id="5"><a href="/contact">Kontakt</a></span>
      <span  class="menu-entry"id="6"><a href="/impressum">Impressum</a></span>
    </div>
    <div class="content">
      <br />
      <br />
      <br />
      <%= yield %>
    </div>


	<!-- Our code -->
	<script src="app.js"></script>
	</body>
	</html>
