<div class="content-horizontal">
  <div class="text">

      <% @data["galleries".to_sym].each do |name, g| %>
        <% folder = g[:folder] %>
        <div class="gallery_entry inside" id="gallery-<%=name%>">
          <h2> <a href="#" id="open-dialog-<%=name%>"><%=g[:title]%></a>  </h2>
          <div id="lightgallery_<%=name%>">
            <% g[:image_count].times do |i| %>
              <a data-sub-html="#sub-<%=name%>-<%=i+1%>" href="<%=folder%>/<%=name%>_<%=i+1%>.jpg"><img width="50px;"src="<%=folder%>/<%=name%>_<%=i+1%>.jpg_p"></a>
            <% end %>
          </div>
        </div>
      <%end%>

</div>

<div class="content-vertical">
  <div class="mega-size-top">Galerie</div>
  <div></div>
  <div class="mega-size-bottom">Gallery</div>
</div>
<div class="text" id="spacer">


</div>

<% @data["galleries".to_sym].each do |name, g| %>
  <div style="display:none" class="text-store" id="store-<%=name%>">
        <h2> <%=g[:title]%> </h2>
    <%=g[:text]%>
  </div>
<%end%>
<div class="text" id="text-display">


</div>

<% @data["galleries".to_sym].each do |name, g| %>
  <% g["image_count".to_sym].times do |i| %>
    <div style="display:none" id="sub-<%= name %>-<%=i+1%>">
      <%= g['alts'.to_sym][i] %>
    </div>
  <%end%>
<%end%>



<script>

  $(document).ready(function(){

    <% @data["galleries".to_sym].each do |name, g| %>
        lightGallery(document.getElementById('lightgallery_<%=name%>'));
    <%end%>



    <% @data["galleries".to_sym].each do |name, g| %>
        $("#dialog-<%=name%>").dialog({
          autoOpen:false,
          width: 400
        })
        $("#open-dialog-<%=name%>").click(function(){
          $("#dialog-<%=name%>").dialog("open")
          return false
        })
        $("#gallery-<%=name%>").hover(function(){
          text = $("#store-<%=name%>").html()
          $("#text-display").html(text)
          return false
        })
    <%end%>


  })
</script>
