<div class="content-horizontal">
  <!--img width="500px" src="ka.jpg"-->
  <div></div>
  <div></div>
</div>
<div class="content-vertical">
  <div class="mega-size-top">ALABASTER</div>
  <div></div>
  <div class="mega-size-bottom">BECHER</div>
</div>
